/*
wood brown: A89F68;
army green: 41521F;
*/
*{
	padding: 0;
	margin: 0;
	outline: 2px solid red;
}
header{
    background-image: url(../img/portada.jpg);
    width: 100%;
	height: 1000px;
	background-repeat: no-repeat;
    position: relative;
    padding-top: 84px;
    padding-bottom: 80px;

}
.col-md-6 a{
	color: #FFF;
	text-decoration: none; 
}.caja-header{
	width: 8%
	height:50px;
}

header nav{
    position: fixed;
    top: 0px;
    left: 0px;
    color: #fff;

}

header nav ul{
line-height: 70px;
text-align: right;
padding-right: 80px;
}
nav ul li a{
    color: #000;
}
header nav h1{
    margin: 0px;
    margin-left: 30px;
    line-height: 70px;
}
header .action img{
    width: 80px;
    margin: 15px 0px;
}
header .action h1{
    font-size:2em;
    text-transform: uppercase;
    font-weight: bold;
}
.action .btn{
    margin-top: 15px;
    text-transform: uppercase;
}