/*
wood brown: A89F68;
army green: 41521F;
*/
*{
	padding: 0;
	margin: 0;
    font-family: 'Archivo Black', sans-serif;
	/*outline: 2px solid red;*/
}
header{
    background-image: url(../img/portada.jpg);
    background-size: 100%;
    width: 100%;
	height: 1000px;
	background-repeat: no-repeat;
/*    position: relative;*/
    padding-top: 84px;
    padding-bottom: 80px;

}
.col-md-6 a{
	color: #FFF;
	text-decoration: none; 
left: 80px;
}
.action-text-center{
	color: #fff;
	margin-left: 6%;
	margin-top: 12%;
}
.action-text-center .btn {
	background:#41521F; 
	border-radius: 10px;
	font-size: 20px;
	padding: 10px 20px;
}
.action-text-center .btn:hover{
	background: #41521F;
}


/*header nav{
    position: fixed;
    top: 0px;
    left: 0px;
    color: #fff;

}*/

header  ul{
line-height: 70px;
text-align: right;
padding-right: 100px;
margin-left: 90px;
}

header  h1{
    margin: 0px;
    margin-left: 10px;
    line-height: 70px;
}



/*=============================================== PRIMERA SECCION */
#seccion-1{
	widows: 100%;
	height: 600px;
}

#secion-1.col-md-6{
	margin-top: 20%;
}
#seccion-1 .col-md-6 span{
	color: #A89F68;
	font-size: 30px;
}

#seccion-1  .col-md-3{
	margin-top: 3%;

}
#seccion-1 .col-md-3 span {
	padding: 8px;
	color: #A89F68;
	font-size: 20px;

}
#seccion-1 img{
/*	background-image: url(../img/tres.jpg);*/
	background-repeat: no-repeat;
	width: 50%;
	height:800px;
	float: left;
}


/*================================================SEGUNDA SECCION*/




#seccion-2{
	width: 100%;
	height: 400px;
	background: #A89F68;
	color: #fff;
	margin-top: 20%;
}
#seccion-2  span{
	color:#41521F;
	
}
#seccion-2 .btn{
	background: #41521F; 
	border-radius: 10px;
	padding: 10px 10px;
}
#seccion-2 img{
	margin-left: 8%;
	margin-top: 5%;
}
#seccion-2 .col-md-5{
	margin-top: 50px;
}

/*================================================TERCERA SECCION*/

#seccion-3 {
	background-image: url(../img/all.jpg);
    background-size: 100%;
    width: 100%;
	height: 1000px;
	background-repeat: no-repeat;
    position: absolute;
    color: #fff;
    text-align:center;
 
}

/*================================================CUARTA SECCION*/

#seccion-4{
	width: 100%;
	height:450px;
	margin-top: 65%;

}
#seccion-4  .title-icon{
	color: #A89F68;
	font-size: 35px;
	margin-left: 20%;
	text-align:center;
	margin-bottom: 10%;
}
#seccion-4 .glyphicon {
	margin-top: 80px;
margin-left: 40%;
font-size: 50px;
color: #A89F68;
}

/*================================================QUINTA SECCION*/
#seccion-5{
	width: 100%;
	height: 600px;
	background:#A89F68; 
	text-align:center;
}
#seccion-5 .btn{
	background: #41521F; 
	border-radius: 10px;
	padding: 10px 10px;
}
#seccion-5 h1{
	color: white;
	font-size: 70px;
}
#seccion-5 span{
	color: white;
	font-size: 20px;
}
#seccion-5 h2{
	color: #41521F;
}


/*================================================footer*/
footer{
     width: 100%;
     height: 200px;
	background: #41521F; 
}
footer .col-md-6{
	color: #fff;
	font-size: 15px;
}
footer .col-md-6 span{
	color: #A89F68;
	font-size: 20px;
}
footer .col-md-6 .direction: {
	color: #A89F68;
	font-size: 12px;
}

footer .col-md-3{
	color: #A89F68;
	font-size: 20px;
}
footer .col-md-3{
	color: #A89F68;
	font-size: 20px;
}





@media (min-width: 10px) and (max-width:767px) {
    #seccion-1,#seccion-2,#seccion-3,#seccion-4,#seccion-5{
        font-size:10px;
    }
} 


